{
  "parser": "babel-eslint",
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "import/order": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": ["warn"],
    "simple-import-sort/sort": "warn",
    "sort-imports": "off"
  },
  "plugins": ["simple-import-sort"],
  "globals": {
    "Component": "readonly",
    "Fragment": "readonly",
    "Link": "readonly",
    "PropTypes": "readonly",
    "React": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "alias": {
        "map": [["@", "./src"]]
      }
    }
  }
}
